bin/symfony_requirements
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
.idea/
.idea/*
/.idea/
/.idea/workspace.xml
/vendor/
web/bundles/
src/*.php~
web/resources/js/translations/
web/uploads/
!web/uploads/user_photos/placeholder-avatar.png
composer.lock
web/php_errors.log
web/*.phpunit.*
gb
web/*/compiled/
web/js/
/node_modules
web/resources/medical-documents/documents/
app/config/parameters_dev_eureka.yml
web/PHARMACIE/*
